---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import Features from '~/components/widgets/Features.astro';
import Note from '~/components/widgets/Note.astro';
import Image from '~/components/common/Image.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Alexander Sellström - Full-Stack Software Engineer'
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[/*
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      */]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        }
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Alexander Sellström"
    tagline="Full-Stack Software Engineer"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Pursuing a career in <span class="font-semibold">peer-to-peer protocols</span> and applications, leveraging the power of blockchain and zero-knowledge cryptograpy.
      Determined to build an alternative to the <span class="font-semibold">oppressive centralized internet</span>. 
   </Fragment>
  </Hero>
  
  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[/*
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    */]}

    image={{
      src: '~/assets/images/20211113_192559-EDIT.jpg',
      alt: 'Alex Portrait',
      loading: 'eager',
      class: ' rounded-full',
      style: 'background-color: transparent;',
    }}
    
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I'm a full-stack software engineer and <a class="underline" href="https://www.activism.net/cypherpunk/manifesto.html">cypherpunk</a>. I'm ideologically motivated to create dissident technologies that protect our most essential liberties, even if our legislators fail us.
      </p>
      <br>
      <p>
        Hailing from Sweden, but born to an American parent, I speak Swedish and English natively.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-neutral-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Note />

  <Features2
    title="What I am working on right now"
    subtitle="Current Projects"
    items={[
      {
        title: 'Emerald',
        description:
          'A peer-to-peer imageboard protocol powered by blockchain and zero-knowledge cryptography. Emerald consists of a layer 1 blockchain for storing content identifiers, and a completely unique sharded peer-to-peer content delivery network for distributing user-generated content. This new architecture solves the latency and incentive issues that existing storage protocols like Swarm, Sia, IPFS, Filecoin and others suffer from.<br><br><a class="cursor-pointer hover:text-primary" target="_blank" rel="noopener noreferrer" href="/papers/Emerald.pdf" data-astro-source-file="/Users/johansellstrom/dev/sellstrom/alexander/src/components/ui/Button.astro" data-astro-source-loc="35:6"<br>Read the whitepaper<svg width="1em" height="1em" viewBox="0 0 24 24" class="w-5 h-5 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5 inline-block" data-icon="tabler:chevron-right" data-astro-source-file="/Users/johansellstrom/dev/sellstrom/alexander/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="117:44">  <symbol id="ai:tabler:chevron-right" data-astro-source-file="/Users/johansellstrom/dev/sellstrom/alexander/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="124:28"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 6l6 6l-6 6"></path></symbol><use xlink:href="#ai:tabler:chevron-right" data-astro-source-file="/Users/johansellstrom/dev/sellstrom/alexander/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="125:10"></use></svg></a></span>',
        icon: 'tabler:diamond'
      },
      {
        title: 'Myntfot',
        description:
          'A stablecoin backed by exchange-tradeable index funds',
        icon: 'tabler:coin'
      },
      {
        title: 'Passport Emulator',
        description:
          'HCE NFC implementation of Terminal Authentication (consulting)',
        icon: 'tabler:nfc'
      },
    ]}
  />
  

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
       {
        title:
          'Software Engineer <br /> <span class="font-normal">Advatar Systems AB</span> <br /> <span class="text-sm font-normal">2022-Present</span>',
        description: `Specializing in Mobile Apps on Android, Digital Identity and Verifiable Credential Infrastructure Projects.`,
        icon: 'tabler:briefcase'
      },
      {
        title:
          'Test Engineer <br /> <span class="font-normal"><a href=https://certify.health>Certify Health</a></span> <br /> <span class="text-sm font-normal">2021</span>',
        description: `Wrote unit tests for SaaS to issue EUDCC Covid Certificates.`,
        icon: 'tabler:briefcase'
      },
      {
        title:
          'Volunteer Manager for Polhacks <br /> <span class="font-normal"><a href=https://www.utn.se>Uppsala Union of Engineering and Science Students (UTN)</a></span> <br /> <span class="text-sm font-normal">2017 - 2018</span>',
        description: `Polhacks is an annual three day LAN-party and game festival held by UTN. For one year my main responsibilites included educating and managing ~40 volunteer workers and planning, procuring, and installing the equipment nessescary for powering hundreds of computers. Beyond my main responsibilities associated with my role, I had to assist my committee in other tasks such as hosting dinners for hundreds of people, procure sponsorships, hold tournaments, and more. This taught me valuable leadership and teamworking skills.   `,
        icon: 'tabler:briefcase'
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Polkadot Blockchain Academy Campus - Protocol Track<br /> <span class="font-normal"><a href=https://polkadot.academy/pba-campus/>Lucerne University of Applied Sciences and Arts 🇨🇭</a></span></span> <br /> <span class="text-sm font-normal">2025</span>`,
        icon: 'tabler:school'
      },
      {
        title: `Master's Programme in Computer and Information Engineering<br /> <span class="font-normal"><a href=https://www.uu.se/en/students/department/information-technology>Uppsala University 🇸🇪🇸</a></span></span> <br /> <span class="text-sm font-normal">2017 - </span>`,
        icon: 'tabler:school'
      },
      {
        title: `Advanced Mathematics Program<br /> <span class="font-normal"><a href=https://www.danderyd.se/skolor/danderyds-gymnasium/program/spetsutbildning-i-matematik/>Danderyds Gymnasium 🇸🇪</a></span> <br /> <span class="text-sm font-normal">2013 - 2016</span>`,
        icon: 'tabler:school'
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

<!--   <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through software."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Analytical Mind',
        description: 'Before any coding takes place I like to thoroughly analyze the problem at hand and find a theoretical solution upon which to base the design .'
      },
      {
        title: 'Attention to detail',
        description: 'Do it right or not at all. I am a perfectionist.'
      },
      {
        title: 'User-centered design',
        description: 'As a proficient user of software and from academic courses I have learnt how to put usability first.'
      }
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Academic Projects"
    subtitle="Some relevant projects from my studies."
    isReversed
    items={
    
    [

      {
        title: 'Description:',
        description:
          "Perhaps nothing explains the concept of interactive stories better than The road not taken by Robert Frost. His poem tells the story of a man following a road through the woods, when he comes to a fork in the road. Which way should he go? And how will this choice affect the rest of his life? In an interactive story, the author expands their story along multiple branches, and invites the reader to choose for themselves which path to take. They can also restart the story to go back and see what would lie down that other road.",
      },
      {
        title: 'Role:',
        description:
          "Mobile app front-end in react and expo. I also wrote code for our nodejs back-end, configured all the servers, VMs, databases, and third-party services such as speech-to-text."
      }
    ]}
    image={{
      src: '~/assets/images/Dreamscape.jpg',
      alt: 'Dreamscape'
    }}
    callToAction={
    {
      target: '_blank',
      text: 'Read the thesis',
      icon: 'tabler:chevron-right',
      href: 'https://uu.diva-portal.org/smash/record.jsf?pid=diva2%3A1565268&dswid=7077'
    }
    }
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Bachelor Thesis: <br /><span class="text-2xl">A System for Creating, Sharing and Listening to Interactive Stories</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-neutral-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
   {
        title: 'Description:',
        description:
          "A cross-platform mobile application written in Flutter for renting privately owned vehicles. Like Airbnb for cars."
      },
      {
        title: 'Role:',
        description:
          "Back-end code and managing our Google Cloud stuff. I worked on front-end stuff when I didn't have anything better to do."
      }
    ]}
    image={{
      src: '~/assets/images/Carsbnb.png',
      alt: 'Carsnb'
    }}
    callToAction={
      {
        target: '_blank',
        text: 'Read the report',
        icon: 'tabler:chevron-right',
        href: '/papers/Software_Engineering_Project_Report.pdf'
      }
      }
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Software Engineering Project (15 credits): <br /><span class="text-2xl">Carsbnb</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-neutral-50 dark:bg-transparent"></div>
  </Fragment>
  </Content>


  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          "Genetic algorithms for self-driving cars with spatial awareness in a simulated environment."
      },
      {
        title: 'Role:',
        description: "We pair-programmed all of it."
      }
    ]}
    image={{
      src: '~/assets/images/gameshot.png',
      alt: 'Genetic Algorithms'
    }}
    callToAction={{
      target: '_blank',
      text: 'Read the report',
      icon: 'tabler:chevron-right',
      href: '/papers/NCML_report.pdf'
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Natural Computation Methods for Machine Learning: <br /><span class="text-2xl">Neuroevolution for Automated Driving</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-neutral-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Content Widget **************** -->


  <Content
  isReversed
  isAfterContent={true}
  items={[
    {
      title: 'Description:',
      description:
        "Clone of Flappy Bird written in Haskell. Not a particularly complex project, but it sets itself apart from the other projects here by being made in Haskell."
    },
    {
      title: 'Role:',
      description: "Coding the physics and animations, and other work related to graphical sprites."
    }
  ]}
  image={{
    src: '~/assets/images/flappybirb_blur.png',
    alt: 'Flappy Birb'
  }}
  callToAction={{
    target: '_blank',
    text: 'Watch the demo',
    icon: 'tabler:chevron-right',
    href: '/videos/out.mp4'
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Program Design and Data Structures: <br /><span class="text-2xl">Flappy Birb</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-neutral-50 dark:bg-transparent"></div>
  </Fragment>
</Content>
<!-- Content Widget **************** -->


  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: "A cross-platform jukebox app that lets you create a kahoot-like session. People at your party can add songs to the queue and upvote and downvote other songs to influence the order of the queue."
      },
      {
        title: 'Role:',
        description: "I made the back-end with Firebase."
      }
    ]}
    image={{
      src: '~/assets/images/PartyZone_blur.png',
      alt: 'PartyZone'
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">PartyZone</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-neutral-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <!--Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  /-->

  <!-- CallToAction Widget *********** -->

  <!--CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  /-->

  <!-- BlogLatestPost Widget **************** -->

  <!--BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-neutral-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts-->
</Layout>
